* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
    margin-top: 40px;
}

.enviar{margin-top: 40px;
background-color: #377be2;
border-radius: 5px;
width: 60%;
height: 25px;
margin-left:20%;
margin-bottom:10px;
}
.borrar{background-color:#377be2 ;
border-radius: 5px;
width: 60%;
height: 25px;
margin-left: 20%;
}


header {
    background-color: #eac926;
    font-family: "Roboto", sans-serif;
  }

  body{
    background-color: lightgrey;
    font-family: "Roboto", sans-serif;
  }
header div.logo {
    width: 40%;
    margin-left: 7px;
    margin-bottom: 7px;
    padding-top: 10px;
  }

header p.leyenda{
    width: 100%;
    margin-left: 5px;
    padding-bottom: 10px;
}  